@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}


html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #56465b;
  margin: 15px 0 20px 0;
}

#box {
  background-color: var(--cor-primaria);
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--color-dark1);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.content {
  background-color: var(--cor-primaria);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 20px;
  min-width: 30%;
  overflow: auto;
  transition: all 300ms;
}

select {
  border: 2px solid var(--cor-secundaria);
  background: var(--cor-primaria);
  max-width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

select {
  border: 2px solid var(--cor-secundaria);
  background: var(--cor-primaria);
  max-width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#inputf {
  display: flex;
  flex-direction: row;
}
.picture1{
  margin-right: 5%;
}
.inputs {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid var(--cor-secundaria);
  background: var(--cor-primaria);
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputs:focus {
  border-color: var(--cor-secundaria);
}

.inputsn {
  padding: 8px 5px;
  outline: none;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid var(--cor-secundaria);
  background: var(--cor-primaria);
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputsn:focus {
  border-color: var(--cor-secundaria);
}

.box-select {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  gap: 1rem;
}

button[type="submit"] {
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-left: 20%;
  color: #e3e6f3;
  max-width: 115px;
  border-radius: 5px;
  margin-top: 35%;
  background-color: var(--cor-secundaria);
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #053c74;
}

.mural {
  margin-left: 9%;
}

.mural p {
  margin-left: 50px;
}

.mural img {
  margin-left: 50px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.picture__image2,
.picture__image {
  color: #ccc;
  justify-items: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  width: 300px;
  aspect-ratio: 9/16;
  margin-left: 0;
  justify-content: center;
}
.picture {
  display: flex;
  border-radius: 10px;
  width: 200px;
  aspect-ratio: 9/16;
  background: #ddd;
  color: #757474;
  border: 2px dashed #9e9e9e;
  cursor: pointer;
  font-family: "Kumbh Sans", sans-serif;
}
#picture__input2,
#picture__input {
  display: none;
}

.picture:hover {
  color: #414141;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.button {
  width: 40px;
  height: 40px;
  background-color: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#modalbtn {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
}
#modalbtn:hover {
  background-color: #265df2;
}
#modalbtn.show-modal,
.modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#modalNovo.active .show-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 300ms;
}
#modalNovo.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: var(--cor-primaria);
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.modal-box i {
  font-size: 70px;
  color: #4070f4;
}
.modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.modal-box .buttons {
  margin-top: 25px;
}
.modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}
/*ccccc*/

@media screen and (max-width: 576px) {
  .box-select {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 1700px) {
  .content {
    margin-top: 3.5%;
    max-height: 500px !important;
    flex-direction: column;
  }

  #box {
    background-color: var(--cor-primaria);
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  button[type="submit"] {
    margin-top: 25%;
  }
}

@media (max-width: 1200px) {
  

  .picture {
    border-radius: 10px;
    width: 150px;
    aspect-ratio: 9/16;
    background: #ddd;
    color: #757474;
    border: 2px dashed #9e9e9e;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
  }
  .mural img {
    width: 150px;
    margin-top: 0%;
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 940px) {
  .picture {
    border-radius: 10px;
    width: 115px;
    aspect-ratio: 9/16;
    background: #ddd;
    color: #757474;
    border: 2px dashed #9e9e9e;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
  }
  .mural img {
    width: 115px;
    margin-top: 0%;
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

#picturetxt {
  margin-left: 0%;
}

@media (max-width: 800px) {
  .content {
    background-color: var(--cor-primaria);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    margin-top: 30%;
    min-width: 105%;
    overflow: auto;
  }
  .mural {
    margin-left: 20%;
  }
  #box {
    display: flex;
    justify-content: center;
    margin-left: 20%;
  }

  .picture__image {
    margin-left: 0%;
  }

  .content {
    margin-top: 30.5%;
    max-height: 450px !important;
    flex-direction: column;
  }

  #picturetxt {
    margin-left: 0%;
    font-size: 80%;
  }

  #box {
    background-color: var(--cor-primaria);
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
  }

  .picture {
    border-radius: 10px;
    width: 110px;
    aspect-ratio: 9/16;
    background: #ddd;
    color: #757474;
    border: 2px dashed #9e9e9e;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
  }

  button[type="submit"] {
    min-width: 130px;
    max-width: 155px;
    margin-left: -50%;
    margin-top: 150%;
  }

  .mural {
    margin-right: 9%;
    margin-top: -20%;
    max-width: 70%;
  }

  .mural img {
    width: 110px;
    margin-top: 0%;
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 660px) {
  #inputf {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #inputf :nth-child(2) {
    margin-top: 5%;
    margin-left: -1%;
  }
  .content {
    background-color: var(--cor-primaria);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    margin-top: 30%;
    min-width: 45%;
    overflow: auto;
  }

  .picture__image2,
  .picture__image {
    justify-items: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    width: 300px;
    aspect-ratio: 9/16;
    margin-left: 0%;
    justify-content: center;
  }

  .picture {
    border-radius: 10px;
    width: 100px;
    aspect-ratio: 9/16;
    background: #ddd;
    color: #757474;
    border: 2px dashed #9e9e9e;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
  }
  #box {
    display: flex;
    justify-content: center;
    margin-left: 20%;
  }

  .mural {
    margin-left: 20%;
  }
  .content {
    margin-top: 30.5%;
    max-height: 450px !important;
    flex-direction: column;
  }

  #picturetxt {
    margin-left: 0%;
    font-size: 80%;
  }

  #box {
    background-color: var(--cor-primaria);
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 550px;
    margin-left: -0%;
  }

  button[type="submit"] {
    min-width: 130px;
    max-width: 155px;
    margin-left: -42%;
    margin-top: 150%;
  }

  .mural {
    margin-right: 5%;
    margin-top: 18%;
    max-width: 70%;
  }

  .mural img {
    width: 100px;
    margin-top: 0%;
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 455px) {
  #inputf {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #inputf :nth-child(2) {
    margin-top: 5%;
    margin-left: -1%;
  }
  .content {
    background-color: var(--cor-primaria);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    margin-top: 30%;
    min-width: 35%;
    overflow: auto;
  }

  .picture__image2,
  .picture__image {
    justify-items: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    width: 300px;
    aspect-ratio: 9/16;
    margin-left: 0%;
  }

  .picture {
    border-radius: 10px;
    width: 100px;
    aspect-ratio: 9/16;
    background: #ddd;
    color: #757474;
    border: 2px dashed #9e9e9e;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
  }
  #box {
    display: flex;
    justify-content: center;
    margin-left: 00%;
  }

  .mural {
    margin-left: 8%;
  }
  .content {
    margin-top: 30.5%;
    max-height: 450px !important;
    flex-direction: column;
  }

  #picturetxt {
    margin-left: 0%;
    font-size: 80%;
  }

  #box {
    background-color: var(--cor-primaria);
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
  }

  button[type="submit"] {
    min-width: 130px;
    max-width: 155px;
    margin-left: -42%;
    margin-top: 150%;
  }

  .mural {
    margin-right: 5%;
    margin-top: 5%;
    max-width: 70%;
  }

  .mural img {
    width: 100px;
    margin-top: 0%;
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 370px) {
  .content {
    background-color: var(--cor-primaria);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    margin-top: 30%;
    min-width: 35%;
    max-width: 55%;
    overflow: auto;
  }

  #box {
    display: flex;
    justify-content: center;
    margin-left: 00%;
  }
  .picture__image {
    margin-left: 0%;
  }

  .mural {
    margin-left: 5%;
  }
  .content {
    margin-top: 30.5%;
    max-height: 450px !important;
    flex-direction: column;
  }

  #picturetxt {
    margin-left: 0%;
    font-size: 80%;
  }

  #box {
    background-color: var(--cor-primaria);
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
  }

  .picture {
    border-radius: 10px;
    width: 100px;
    aspect-ratio: 9/16;
    background: #ddd;
    color: #757474;
    border: 2px dashed #9e9e9e;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
  }

  button[type="submit"] {
    min-width: 130px;
    max-width: 155px;
    margin-left: -45%;
    margin-top: 150%;
  }

  .mural {
    margin-right: 9%;
    margin-top: -20%;
    max-width: 70%;
  }

  .mural img {
    width: 100px;
    margin-top: 0%;
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
