@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #56465b;
  margin: 15px 0 20px 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #ffe58b;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#header .logo {
  width: 100%;
  max-height: 80px;
  height: auto;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #165ea8;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #165ea8;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar li a i {
  font-weight: 500;
  font-size: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/*----------------- Cadastro animal -----------------*/
#box {
  background-color: #ffe58b;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-dark1);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.content {
  background-color: #ffe58b;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;
}

select {
  border: 2px solid #165ea8;
  background: #ffe58b;
  max-width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

select {
  border: 2px solid #165ea8;
  background: #ffe58b;
  max-width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #165ea8;
  background: #ffe58b;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputs:focus {
  border-color: #165ea8;
}

.inputsn {
  padding: 8px 5px;
  outline: none;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid #165ea8;
  background: #ffe58b;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputsn:focus {
  border-color: #165ea8;
}

.box-select {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  gap: 1rem;
}


button[type="submit"] {
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-left: 20%;
  color: #e3e6f3;
  max-width: 115px;
  border-radius: 5px;
  margin-top: 35%;
  background-color: #165ea8;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #053c74;
}

.mural {
  margin-left: 9%;
}

.mural p {
  margin-left: 50px;
}

.mural img {
  margin-left: 50px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#picture__input {
  display: none;
}

.picture {
  border-radius: 10px;
  width: 200px;
  aspect-ratio: 9/16;
  padding: 0.7rem;
  background: #ddd;
  color: #757474;
  border: 2px dashed #9e9e9e;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.picture:hover {
  color: #414141;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: none;
  border: 0px;
  background: none;
  box-shadow: none;
}

.button {
  width: 40px;
  height: 40px;
  background-color: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sun {
  width: 18px;
  height: 18px;
  background: #1a1a1a;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: 3px solid #ffe58b;
}

.sun div {
  width: 2px;
  background: #1a1a1a;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  transition: width 0.12s;
}

.sun .line1 {
  height: 30px;
  transform: translate(-50%, -50%);
}

.sun .line2 {
  height: 30px;
  transform: translate(-50%, -50%) rotate(90deg);
}

.sun .line3 {
  height: 25px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.sun .line4 {
  height: 25px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sun::after {
  content: '';
  width: 18px;
  height: 18px;
  background: #ffe58b;
  border-radius: 50%;
  position: absolute;
  top: -21px;
  right: -21px;
  transition: 0.5s;
}

.sun.night::after {
  top: -8px;
  right: -9px;
}

.sun.night div {
  width: 0;
}

@media screen and (max-width: 576px) {
  .box-select {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 1700px) {
  .content {
    margin-top: -7.5%;
  }

  button[type="submit"] {
    margin-top: 25%;
  }
}

@media (max-width: 455px) {
  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    margin-top: -40%;
    border-radius: 10px;
    min-width: 45%;
    overflow: auto;
  }

  button[type="submit"] {
    min-width: 150px;
    max-width: 215px;
    margin-left: -30%;
    margin-top: 50%;
  }
  .mural{
    margin-top: -70%;
  }

  .mural img {
    margin-top: 2%;
    margin-left: 40px;
    border-radius: 10px;
    width: 105px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #ffe58b;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 80px 0 0 10px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #navbar.active {
    right: 0;
  }

  #mobile {
    display: flex;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #bar {
    display: initial;
  }

  #close {
    display: initial;
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
  }
}