@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #165EA8;
  transition: all 300ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e4072;
  transition: all 300ms;
}

form{
  height: 520px;
  width: 400px;
  background-color: #ffe58b;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Kumbh Sans', sans-serif;
  color: #282828;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.content a{
  display: flex;
  width: auto;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  justify-content: center;
}
.content a:hover{
  text-decoration: underline;
}
.content p{
  color: #3e4c5c;
  transition: all 300ms ease-in-out;
}

.content p:hover{
  color: #165ea8;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #165ea8;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #727272;
}
button{
  margin-top: 50px;
  width: 100%;
  background-color: #165ea8;
  color: #e3e6f3;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social{
margin-top: 30px;
display: flex;
}
.social div{
background: red;
width: 150px;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgba(255,255,255,0.27);
color: #eaf0fb;
text-align: center;
}
.social div:hover{
background-color: rgba(255,255,255,0.47);
}
.social .fb{
margin-left: 25px;
}
.social i{
margin-right: 4px;
}



html {
  scroll-behavior: smooth;
}

h1 {
  margin-top: 10%;
  font-size: 45px;
  line-height: 64px;
  color: #222;
}

#texto {
  align-items: center;
  display: grid;
  justify-content: center;
}

#linha-horizontal {
  margin-top: 9px;
  width: 200px;
  border: 1px solid #165ea8;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #56465b;
  margin: 15px 0 20px 0;
}

#box {
  background-color: #ffe58b;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--color-dark1);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.content {
  background-color: #ffe58b;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  margin-top: 20%;
  border-radius: 10px;
  width: 20%;
  overflow: auto;
}

select {
  border: 2px solid #165ea8;
  background: #ffe58b;
  max-width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

select {
  border: 2px solid #165ea8;
  background: #ffe58b;
  max-width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

#form {
  display: flex;
  gap: 1rem;
}

#fazer-login {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 2%;
}

#fazer-login p {
  margin-top: 20%;
}

#submit2 {
  margin-left: 28%;
}

.inputs {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #165ea8;
  background: #ffe58b;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputs:focus {
  border-color: #165ea8;
}

.inputsn {
  padding: 8px 5px;
  outline: none;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid #165ea8;
  background: #ffe58b;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputsn:focus {
  border-color: #165ea8;
}

.box-select {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  gap: 1rem;
}
#botao{
  justify-content: center;
  display: flex;
}
button[type="submit"] {
  display: flex;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  justify-content: center;
  color: #e3e6f3;
  max-width: 115px;
  border-radius: 5px;
  margin-top: 3rem;
  background-color: #165ea8;
  cursor: pointer;
}

.modalp {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  color: #282828;
}

button[type="submit"]:hover {
  background-color: #053c74;
}

button[id="submit2"] {
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  color: #e3e6f3;
  max-width: 115px;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: #165ea8;
  cursor: pointer;
}

button[id="submit2"]:hover {
  background-color: #053c74;
}

.mural {
  margin-left: 9%;
}

.mural p {
  margin-left: 50px;
}

.mural img {
  margin-left: 50px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#picture__input {
  display: none;
}

.picture {
  border-radius: 10px;
  width: 200px;
  aspect-ratio: 9/16;
  padding: 0.7rem;
  background: #ddd;
  color: #757474;
  border: 2px dashed #9e9e9e;
  cursor: pointer;
  font-family: 'Kumbh Sans', sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.picture:hover {
  color: #414141;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: none;
  border: 0px;
  background: none;
  box-shadow: none;
}

.button {
  width: 40px;
  height: 40px;
  background-color: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#jaTem {
  margin-left: 20%;
}

@media screen and (max-width: 1700px) {

  #jaTem {
    margin-left: 0%;
  }


  #submit2 {
    margin-left: 32%;
  }

  #botao{
    justify-content: center;
    display: flex;
  }
  button[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    color: #e3e6f3;
    max-width: 120px;
    border-radius: 5px;
    margin-top: 3rem;
    background-color: #165ea8;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #053c74;
  }
}

@media screen and (max-width: 576px) {
  .box-select {
    flex-direction: column;
    gap: 5px;
  }
}
@media screen and (max-width: 500px) {
  #jaTem {
    margin-left: 0%;
  }

  #linha-vertical {
    margin-left: 10%;
  }
  #box {
    height: 60px;
  }
  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2.5rem;
    border-radius: 10px;
    margin-top: 100%;
    overflow: auto;
    width: auto;
    max-width: 70%;
  }
  #linha-horizontal {
    margin-top: -5%;
    margin-bottom: 5%;
  }
  #botao{
    justify-content: center;
    display: flex;
  }
  button[type="submit"] {
    margin-top: 20%;
  }

}

@media (max-width: 450px) {
  #jaTem {
    margin-left: 0%;
  }

  #linha-horizontal {
    margin-top: -5%;
    margin-bottom: 15%;
  }


  #box {
    height: 60px;
  }
  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    width: auto;
    margin-top: 100%;
    overflow: auto;
    max-width: 85%;
  }

  #botao{
    justify-content: center;
    display: flex;
  }
  button[type="submit"] {
    margin-top: 20%;
  }



  .mural img {
    margin-top: 10%;
    margin-left: 40px;
    border-radius: 10px;
    width: 105px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 1901px) {
  #box {
    margin-top: 2%;
    height: 400px;
  }

  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-top: 0%;
    border-radius: 10px;
    width: 20%;
    overflow: auto;
  }
  #fazer-login{
    margin-left: 13%;
  }
}
@media (min-width: 798px) and (max-width: 1500px) {
  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    padding-top: 2.5em;
    border-radius: 10px;
    width: auto;
    overflow: auto;
    width: auto;
    height: auto;
    margin-top: 30%;
  }
  
#botao{
  justify-content: center;
  display: flex;
}
  button[type="submit"] {
    margin-top: 20%;
  }
}

@media (min-width: 1500px) and (max-width: 1900px) {
  #box {
    margin-top: 2%;
    height: 400px;
  }

  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-top: 0%;
    border-radius: 10px;
    width: 20%;
    overflow: auto;
  }
  #fazer-login{
    margin-left: 2%;
  }
}

@media (max-width: 390px) {
  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    padding-top: 2.5em;
    border-radius: 10px;
    width: auto;
    overflow: auto;
    width: auto;
    height: auto;
  }

  #fazer-login {
    margin-left: 11%;
    margin-top: -15%;
  }

  #botao{
    justify-content: center;
    display: flex;
  }
  button[type="submit"] {
    margin-top: 20%;
  }

  #linha-horizontal {
    margin-top: -5%;
  }
}

@media (min-width: 501px) and (max-width: 799px) {

  .section-p1 {
    padding: 40px;
  }

  #jaTem {
    margin-left: 0%;
  }

  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    padding-top: 2.5em;
    border-radius: 10px;
    width: auto;
    overflow: auto;
    width: auto;
    height: auto;
    margin-top: 60%;
  }
  
#botao{
  justify-content: center;
  display: flex;
}
  button[type="submit"] {
    margin-top: 20%;
  }
}