@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
hr{
    background-color: #165EA8
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #56465b;
    margin: 15px 0 20px 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #FFE58B ;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#header .logo {
    width: 100%;
    max-height: 80px;
    height: auto;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #165EA8 ;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #165EA8 ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li a i {
    font-weight: 500;
    font-size: 20px;
}

#mobile {
    display: none;
    align-items: center;
}



#close {
    display: none;
}

/*----------------- Cadastro animal -----------------*/
#box{
    background-color: #FFE58B;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.content{
    margin-left: 0%;
    background-color: #FFE58B;
    box-shadow: 5px 5px 5px rgb(172, 172, 172, 0.5);
    padding: 2rem;
    border-radius: 10px;
    min-width: 10%;
    overflow: auto;
}

select{
    border: 2px solid #165EA8 ;
    background: #FFE58B;
    max-width: 100px;
    padding: 10px 20px;
    border-radius:5px;
}
  
select:focus{
    outline:none;
}


select {
    border: 2px solid #165EA8 ;
    background: #FFE58B;
    max-width: 150px;
    padding: 10px 20px;
    border-radius:5px;
}
  
select:focus{
    outline:none;
}

h1{
    margin-bottom: 1rem;
    text-align: center;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #165EA8 ;
    background: #FFE58B;
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus{
    border-color: #165EA8 ;
}

.inputsn{
    padding: 8px 5px;
    outline: none;
    max-width: 200px;
    border-radius: 5px;
    border: 2px solid #165EA8 ;
    background: #FFE58B;
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputsn:focus{
    border-color: #165EA8 ;
}

.box-select{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-left: 90%;
    color:#E3E6F3;
    max-width: 115px;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #165EA8 ;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #053c74 ;
}

.mural {
    margin-left: 9%;
}

.mural p{
    margin-left: 50px;
}

.mural img {
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 5px 5px 5px rgb(172, 172, 172, 0.3);
}

@media screen and (max-width: 576px) {
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
}
@media (max-width:799px) {
    .section-p1 {
        padding: 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        padding: 80px 0 0 10px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #navbar.active {
        right: 0;
    }
    #mobile {
        display: flex;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #bar {
        display: initial;
    }
    #close {
        display: initial;
        font-size: 24px;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
    }
}