@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  --cor-secundaria: #165ea8;
  --cor-primaria: #ffe58b;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 80px;
  background: var(--cor-primaria);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
  margin-right: 53px;
}
.dropdown-nav {
  position: relative;
  right: 0.4em;
}
#editarDiv {
  align-items: center;
  display: flex;
  flex-direction: row;
}
#sairDiv {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.iconeperfilbar {
  margin-right: 7px;
}

.inputs {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid var(--cor-secundaria);
  background: var(--cor-primaria);
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputs:focus {
  border-color: var(--cor-secundaria);
}

.inputsn {
  margin-top: 0;
  padding: 8px 5px;
  outline: none;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid var(--cor-secundaria);
  background: var(--cor-primaria);
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputsn:focus {
  border-color: var(--cor-secundaria);
}
.dropdown-content-nav {
  display: none;
  margin-left: 40px;
  position: absolute;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--cor-primaria);
  width: 0px;
  opacity: 0;
  overflow: hidden;
  padding: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 8;
  transition: all 0.3s ease-in-out;
}
.dropdown-content-nav p {
  color: #000000 !important;
}

.dropdown-content-nav a {
  text-rendering: auto;
}

.dropdown-nav a:hover {
  background-color: #f1f1f1;
}

.dropdown-content-nav.show {
  display: flex;
  flex-direction: column;
}
.dropdown-content-nav.transform {
  width: 150px;
  opacity: 1;
  padding: 5px 20px;
  margin-top: 73px;
  margin-left: -73px;
  padding: 5px 20px;
}
#myDropdown {
  display: flex;
  flex-direction: column;
}
#header .logo {
  width: auto;
  max-height: 80px;
  height: 70%;
}

#userPic {
  border: var(--cor-secundaria) 3px solid;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
  transition: all 0.3s ease-in-out;
}

#editarpf {
  position: absolute;
  left: 150%;
  top: 14.5%;
  display: flex;
  justify-content: right;
  width: 0%;
  height: 0%;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

#editarpf.show{
  left: 0%;
  top: 12%;
  width: 100%;
  height: 100%;
}
#iconpenvio {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contente {
  display: none;
  position: fixed;
  z-index: 6;
  opacity: 0;
  margin-top: 4%;
  background-color: var(--cor-primaria);
  border: none;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  z-index: 7;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#overlayrr {
  left: 0;
  top: 0;
  z-index: 5;
  position: fixed;
  filter: blur(0px);
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all 300ms;
}
#contente h2 {
  font-size: 30px;
  color: var(--cor-secundaria);
}
#contentform {
  margin-top: -10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#overlayrr.show {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  opacity: 1;
  pointer-events: auto;
}
button[type="submittt"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1rem;
  outline: none;
  border: none;
  color: #e3e6f3;
  max-width: 115px;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--cor-secundaria);
  cursor: pointer;
}

#formedit #regiaoDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#formedit #telefoneDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#formedit p {
  margin-top: 15px;
}
#fecharEdit {
  right: 0;
  top: 0;
  margin: 10px;
}

#contente.show {
  display: block;
  width: 400px;
  height: 533px;
  opacity: 1;
}
#navbar {
  display: flex;
  align-items: center;
}

#usuariol {
  display: flex;
  align-items: center;
}

#userName {
  color: var(--cor-secundaria);
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  transition: 0.3s ease;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--cor-secundaria);
}
#navbar h3 {
  display: none;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 43%;
  height: 2px;
  background: var(--cor-secundaria);
  position: absolute;
  bottom: -4px;
  left: 25px;
}

#navbar li a i {
  font-weight: 500;
  font-size: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

.sun {
  width: 18px;
  height: 18px;
  background: #1a1a1a;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: 3px solid var(--cor-primaria);
}

.sun div {
  width: 2px;
  background: #1a1a1a;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  transition: width 0.12s;
}

.sun .line1 {
  height: 30px;
  transform: translate(-50%, -50%);
}

.sun .line2 {
  height: 30px;
  transform: translate(-50%, -50%) rotate(90deg);
}

.sun .line3 {
  height: 25px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.sun .line4 {
  height: 25px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sun::after {
  content: "";
  width: 18px;
  height: 18px;
  background: var(--cor-primaria);
  border-radius: 50%;
  position: absolute;
  top: -21px;
  right: -21px;
  transition: 0.5s;
}

.sun.night::after {
  top: -8px;
  right: -9px;
}

.sun.night div {
  width: 0;
}

@media (max-width: 581px) {
  #header{
    justify-content: space-around;
  }
}
@media (max-width: 1200px) {
  #header .logo {
    width: auto;
    max-height: 80px;
    height: 60px;
  }
}
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px;
  }
  #usuariol {
    order: 1;
  }
  #header {
    align-items:center;
  }
  #logo {
    margin-inline: 11%;
    margin-inline-end: 18%;
    order: 2;
  }
  #header .logo {
    width: auto;
    max-height: 80px;
    height: 50px;
  }
  #mobile{
    order: 3;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: -420px;
    border-radius: 10px;
    right: 100px;
    width: 0;
    height: 45vh;
    background: var(--cor-primaria);
    box-shadow: 0 80px 80px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    padding: 40px 0 0 10px;
    z-index: -1;
  }

  #navbar li {
    margin-left: 24%;
    margin-bottom: 25px;
  }

  #navbar #linha-horizontal2 {
    margin-left: 23%;
    width: 100px;
    margin-bottom: 5%;
    height: 30px;
    border-top: 2px solid var(--cor-secundaria);
  }

  #navbar h3 {
    margin-left: 33%;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar.active {
    z-index: 2;
    top: 130px;
    right: 10px;
    width: 200px;
  }

  #darkToggle {
    margin-left: 37%;
  }

  .sun {
    width: 22px;
    height: 22px;
    background: #1a1a1a;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 3px solid var(--cor-primaria);
  }

  .sun .line1 {
    height: 35px;
    transform: translate(-50%, -50%);
  }

  .sun .line2 {
    height: 35px;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .sun .line3 {
    height: 30px;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .sun .line4 {
    height: 30px;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .sun::after {
    content: "";
    width: 20px;
    height: 20px;
    background: var(--cor-primaria);
    border-radius: 50%;
    position: absolute;
    top: -21px;
    right: -21px;
    transition: 0.5s;
  }
  .fa-square-caret-down {
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
  }
  .fa-square-caret-down.ativo {
    transform: rotate(180deg);
  }
  #mobile {
    display: flex;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 35px;
  }

  #bar {
    display: initial;
  }

  #close {
    display: initial;
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
  }
}

@media screen and (max-width: 768px) {
  #header {
    padding: 15px;
  }
  #contente.show {
    width: 300px;
  }
  .dropdown-content-nav {
    margin-left: -41px;
    margin-top: 55px;
  }
  .dropdown-content-nav.transform {
    margin-top: 55px;
    margin-left: -41px;
  }
}
