@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #165ea8;
  transition: all 300ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e4072;
  transition: all 300ms;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
#fotoPet2 {
  display: inline-block;
}
#pet{
  margin-bottom: 0px;
}
h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  margin-left: 5%;
  color: #56465b;
  font-weight: 500;
  font-size: 15px;
}

p {
  font-size: 16px;
  color: #56465b;
  margin: 15px 0 20px 0;
}

.content p {
  font-weight: 650;
}

#box {
  background-color: #ffe58b;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--color-dark1);
  color: var(--color-white);
  display: flex;
  justify-content: left;
  margin-left: 5%;
  align-items: center;
  height: 700px;
}

.content {
  background-color: #ffe58b;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 10px;
  min-width: 10%;
  overflow: auto;
}

#editar {
  position: absolute;
  font-size: 20px;
  margin-left: 8%;
  margin-top: -24%;
  color: #165ea8;
}

.content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

select {
  border: 2px solid #165ea8;
  background: #ffe58b;
  max-width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

select {
  border: 2px solid #165ea8;
  background: #ffe58b;
  max-width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #165ea8;
  background: #ffe58b;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputs:focus {
  border-color: #165ea8;
}

.inputsn {
  padding: 8px 5px;
  outline: none;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid #165ea8;
  background: #ffe58b;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputsn:focus {
  border-color: #165ea8;
}

.box-select {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  gap: 1rem;
}

button[type="submit"] {
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-left: 87%;
  color: #e3e6f3;
  max-width: 205px;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #165ea8;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #053c74;
}

.mural {
  margin-left: 20%;
}

.mural p {
  margin-bottom: 40px;
  margin-left: 50px;
}

.mural img {
  margin-left: 50px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#linha-vertical {
  height: 600px;
  margin-left: 10%;
  border-right: 4px solid #165ea8;
  border-radius: 10px;
}

#picture__input {
  display: none;
}

#top {
  width: 0;
  height: 0;
  transition: 0.3s;
}

#bottom {
  width: 0;
  height: 0;
  transition: 0.3s;
}

.x1 {
  width: 20px;
  border-bottom: solid 4px#ffffff;
  border-radius: 35%;
  margin-top: 40%;
  transform: rotate(45deg);
}

.x2 {
  position: absolute;
  width: 20px;
  margin-top: 40%;
  border-bottom: solid 4px#ffffff;
  border-radius: 35%;
  transform: rotate(-45deg);
}

.delBtnDiv {
  position: relative;
  margin-bottom: -12%;
  margin-left: 70%;
  border-radius: 8px;
  width: 25px;
  height: 25px;
  background-color: #f44040;
}

.btnDel {
  display: flex;
  position: relative;
  right: -10%;
}

.picture {
  border-radius: 10px;
  width: 200px;
  aspect-ratio: 9/16;
  padding: 0.7rem;
  background: #ddd;
  color: #757474;
  border: 2px dashed #9e9e9e;
  cursor: pointer;
  font-family: "Kumbh Sans", sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.picture:hover {
  color: #414141;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: none;
  border: 0px;
  background: none;
  box-shadow: none;
}

.button {
  width: 40px;
  height: 40px;
  background-color: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 1800px) {
  .content {
    margin-top: 8%;
  }

  #linha-vertical {
    height: 400px;
    margin-left: 10%;
    margin-top: 8%;
    border-right: 4px solid #165ea8;
    border-radius: 10px;
  }

  .mural {
    margin-top: 8%;
  }

  #box {
    height: 400px;
  }
}
@media (max-width: 1800px) {
  #editar {
    position: absolute;
    font-size: 20px;
    margin-left: 8%;
    margin-top: -19%;
    color: #165ea8;
  }
}

@media (max-width: 1700px) {
  .content {
    margin-top: 4%;
  }

  #editar {
    position: absolute;
    font-size: 20px;
    margin-left: 9%;
    margin-top: -26.5%;
    color: #165ea8;
  }
  #linha-vertical {
    height: 400px;
    margin-left: 10%;
    margin-top: 4%;
    border-right: 4px solid #165ea8;
    border-radius: 10px;
  }

  .mural {
    margin-top: 4%;
  }

  #box {
    height: 400px;
  }
}
@media (max-width: 1445px) {
  #editar {
    margin-left: 9.5%;
    margin-top: -28.5%;
  }
}
@media (max-width: 1325px) {
  #editar {
    margin-left: 10%;
    margin-top: -32%;
  }
}
@media (max-width: 1210px) {
  #editar {
    margin-left: 11%;
    margin-top: -36%;
  }
  button[type="submit"] {
    font-size: 90%;
    margin-left: 80%;
  }
}
@media (max-width: 1101px) {
  #editar {
    margin-left: 12%;
    margin-top: -39%;
  }
}
@media (max-width: 1010px) {
  #editar {
    margin-left: 14%;
    margin-top: -44%;
  }
  .mural img {
    width: 150px;
  }
}
@media (max-width: 911px) {
  #editar {
    margin-left: 15%;
    margin-top: -49%;
  }
}
@media (max-width: 830px) {
  #editar {
    margin-left: 16%;
    margin-top: -53%;
  }
  #fotoPet2 {
    display: inline-block !important;
  }
  .mural img {
    width: 116px;
  }
}
@media (max-width: 740px) {
  #editar {
    margin-left: 18%;
    margin-top: -60%;
  }
  button[type="submit"] {
    font-size: 90%;
    margin-left: 70%;
  }
}
@media (max-width: 650px) {
  #editar {
    margin-left: 20%;
    margin-top: -69%;
  }
  .delBtnDiv {
    position: relative;
    margin-bottom: -25%;
    margin-left: 68%;
    border-radius: 8px;
    width: 25px;
    height: 25px;
    background-color: #f44040;
  }

  .btnDel {
    display: flex;
    position: relative;
    right: -10%;
  }
  .mural {
    margin-top: 15%;
  }
  .mural p {
    margin-bottom: 20px;
    margin-left: 50px;
  }
}
@media (max-width: 500px) {
  #editar {
    margin-left: 27%;
    margin-top: -92%;
  }
  button[type="submit"] {
    font-size: 90%;
    margin-left: 70%;
  }
  .mural p {
    margin-bottom: 0px;
    margin-left: 50px;
  }
}
@media (max-width: 470px) {
  #editar {
    margin-left: 28%;
    margin-top: -97%;
  }
  button[type="submit"] {
    font-size: 90%;
    margin-left: 70%;
  }
}
@media (max-width: 440px) {
  #editar {
    position: absolute;
    font-size: 20px;
    margin-left: 36%;
    margin-top: -114%;
    color: #165ea8;
  }
  #pet{
    margin-bottom: 20px;
  }
  .mural p {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .content {
    background-color: #ffe58b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    min-width: 45%;
    margin-top: 0%;
    overflow: auto;
  }
  .x1 {
    width: 20px;
    margin-left: -50%;
    border-bottom: solid 4px#ffffff;
    border-radius: 35%;
    margin-top: 40%;
    transform: rotate(45deg);
  }

  .x2 {
    position: absolute;
    width: 20px;
    margin-left: -50%;
    margin-top: 40%;
    border-bottom: solid 4px#ffffff;
    border-radius: 35%;
    transform: rotate(-45deg);
  }

  .delBtnDiv {
    position: relative;
    margin-bottom: -31%;
    margin-left: 61%;
    border-radius: 8px;
    width: 25px;
    height: 25px;
    background-color: #f44040;
  }

  .btnDel {
    display: flex;
    position: relative;
    right: -10%;
  }

  .mural {
    margin-top: 20%;
    margin-left: 5%;
  }

  #box {
    height: 400px;
  }

  .btnDel {
    right: -62%;
    margin-bottom: -22%;
  }

  .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: -2%;
  }

  button[type="submit"] {
    font-size: 90%;
    margin-left: 56%;
  }

  .mural img {
    margin-top: 10%;
    margin-left: 40px;
    border-radius: 10px;
    width: 105px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 380px) {
  #editar {
    margin-left: 35%;
    margin-top: -127%;
  }
}

@media (max-width: 799px) {
  #linha-vertical {
    height: 0px;
    margin-left: 0%;
    border-right: 0px solid #165ea8;
    border-radius: 0px;
  }
}
.encolher {
  animation: encolherAnimacao 0.3s forwards;
}
@keyframes encolherAnimacao {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
